name: EPG Update
on:
  push:
    branches: [ main ]
  schedule:
    - cron: '00 1 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email github-actions[bot]@users.noreply.github.com

      - name: Update EPG Files
        run: |
          uv run python -m epg.erw-api.main
          git add e.xml
          if ! git diff-index --quiet HEAD --; then
            git commit -m "EPG Update."
          else
            echo "No EPG changes to commit."
          fi
      - name: Push changes
        run: git push origin main

